body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: darkslategray;
    color: white;
}

.App {
    border: 2px solid black;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.header > p {
    font-size: 14px;
    color: lightgray;
}

.card-results {
    color: black;
}